/*Estilos para la wiki de mujeres*/

header {
    background-color: #00bf63;
    background-color: #f4bad9;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #c4beed;
    background-color: #f4bad9;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
   font-family: "Merriweather", serif;
}

h2 {
    font-family: "Merriweather", serif;
    text-align: center;
}

h3,h4 {
    font-family: "Merriweather", serif;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 0px 30px;
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
}

.columna-derecha {
    color: #636363;
    flex: 1;
    padding: 20px 80px;
    background-color: #8c52ff;
    background-color: #cbe9a2;
    text-align: center;
}

.columna-derecha h2 {
    font-size: 36px;
}

.columna-derecha p {
    padding: 0px 60px 0px;
    font-size: 18px;
}

.columna-izquierda {
    color: #fff;
    flex: 1;
    padding: 20px;
    background-color: #c4beed;
}

.columna-derecha img{
    max-width: 100%;
    border-radius: 30px;
}
/*Aquí va lo del marco teórico*/

.columna-derecha-m {
    color: #636363;
    flex: 1;
    padding: 20px 60px 30px;
    background-color: #8c52ff;
    background-color: #cbe9a2;
    font-size: 18px;
}

.columna-derecha-m h2{
    font-size: 36px;    
}

.columna-derecha-m h3{
    font-size: 24px;    
}

.d-flex{
    display: flex;
    padding-bottom: 30px;
}

.info{
    margin: 10px;
    padding: 0px 30px;
    text-align: justify;
}

.d-flex img {
    width: 150px;
    border-radius: 18px;
    align-items: center;
    background-color: #fff;
}


img,p, h3 {
    padding: 10px;
}

/*Aquí va la sección de la galería*/

.galeria img {
    width: 120px;
    height: 120px;
    margin-right: 0px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15%;
}

#imagengrande {
    margin-top: 0px;
}

#imagenprincipal {
    width: 600px;
    border-radius: 20px;
}

/* Estilo para las nuevas secciones */
#entrevista, #evidencia-entrevista, #observaciones, #esquema, #cronograma, #lugares {
    padding: 20px;
    margin: 20px auto;
    max-width: 1100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra sutil para dar profundidad */
    
}

.columna-derecha-ref {
    color: #636363;
    flex: 1;
    padding: 20px;
    background-color: #cbe9a2;
    text-align: center;
}

.columna-derecha-ref p {
    text-align: center;
    padding: 0px 120px;
    font-size: 18px;
}

.columna-derecha-en {
    background-color: #c4beed;
    padding-top: 20px;
    padding-bottom: 5px;
}

#entrevista {
    background-color: #fff;
    padding: 0px 20px;
    padding-bottom: 30px;
    text-align: justify;
}


/* Estilo para la sección de entrevistas */
#entrevista h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: rgb(193, 127, 255);
    padding-top: 40px;
}

#entrevista h2 {
    font-family: "Merriweather", serif;
    color: #333;
    font-size: 24px;
}

#entrevista p {
    padding: 0px 80px;
}

/* Estilo para la sección de evidencia de entrevistas */
#evidencia-entrevista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

#evidencia-entrevista h1,
#evidencia-entrevista h2 {
    text-align: center;
    color: rgb(193, 127, 255);
    margin: auto; /* Asegura que estén centrados en el bloque */
    padding: 10px 0px;
}

#evidencia-entrevista img {
    flex: 1 1 45%;  /* Ajuste para que la imagen ocupe el 45% del espacio */
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para la sección de observaciones */
#observaciones {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    text-align: center; /* Asegura que el texto relacionado también esté centrado */
    
}

#observaciones h2 {
    color: rgb(193, 127, 255);
    text-align: center;
    margin-bottom: 20px;
}

#observaciones img {
    flex: 1 1 45%;  /* Ajuste para que la imagen ocupe el 45% del espacio */
    max-width: 100%;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#observaciones p {
    font-family: "Poppins", sans-serif;
    color: #555;
    text-align: justify;
    padding: 0px 80px;

}

/* Estilo para la sección del esquema */
#esquema {
    background-color: #fff;
}

#esquema h1 {
    font-size: 36px;
    text-align: center;
    color: rgb(193, 127, 255);
}

#esquema h2 {
    font-family: "Merriweather", serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    padding: 0px 150px;
}

/* Estilo para el cronograma */
#cronograma {
    background-color: #fff;
}

#cronograma h2 {
    text-align: center;
    color: rgb(193, 127, 255);
    margin-bottom: 20px;
    font-size: 36px;
}

#cronograma img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para la sección de lugares */
#lugares {
    background-color: #ffffff;
}

#lugares h2 {
    color: rgb(193, 127, 255);
    text-align: center;
    margin-bottom: 15px;
    font-size: 36px;
}

#lugares h3 {
    font-family: "Merriweather", serif;
    font-size: 16px;
    color: #444;
    text-align: center;
    margin: 10px 0;
}

/* Estilo para la sección de insights */
#insights {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    flex-basis: initial;
}

#insights h1 {
    color: rgb(193, 127, 255);
    text-align: center;
    margin-bottom: 15px;
    font-size: 36px;
}
#insights ul {
    list-style-type: none;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

#insights li {
    background-color: #cbe9a2;  /* Fondo blanco para los elementos de la lista */
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #636363;
    text-align: justify;
}

#insights li:hover {
    background-color: rgb(193, 127, 255);
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

#insights li a {
    text-decoration: none;
    color: inherit;
}

/* Estilo para la sección de hallazgos */
#hallazgos {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    flex-basis: initial;
}

#hallazgos h1 {
    color: rgb(193, 127, 255);
    text-align: center;
    margin-bottom: 15px;
    font-size: 36px;
}

#hallazgos h2 {
    color: rgb(193, 127, 255);
    text-align: left;
    margin-bottom: 15px;
    font-size: 24px;
}

#hallazgos h3 {
    color: rgb(193, 127, 255);
    text-align: left;
    margin-bottom: 15px;
    font-size: 18px;
}

#hallazgos ul {
    list-style-type: none;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

#hallazgos li {
    background-color: #cbe9a2;  /* Fondo blanco para los elementos de la lista */
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #636363
}

#hallazgos li:hover {
    background-color: rgb(193, 127, 255);
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

#hallazgos li a {
    text-decoration: none;
    color: inherit;
}

/* Estilo del contenedor de imágenes en secciones */
.d-flex img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
