/*Estilos para la wiki de mujeres*/

header {
    background-color: rgb(193, 127, 255);
    color: #28292a;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
   font-family: "Merriweather", serif;
}

h2,h3,h4 {
    font-family: "Merriweather", serif;
}

nav ul li{
    list-style: none;
    display: inline;
    padding: 0px 30px;
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

.container {
    display: flex;
}

.columna-derecha {
    color: #fff;
    flex: 1;
    padding: 20px;
    background-color: #eb8282;
}

.columna-derecha img{
   max-width: 100%; 
}

.galeria {
    display: flex;
}

.galeria img {
    width: 142.5px;
    height: 142.5px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#imagengrande {
    margin-top: 20px;
}

#imagenprincipal {
    max-width: 1280px;
    border-radius: 10px;
}