/*Estilos para la wiki de mujeres*/

header {
    background-color: rgb(193, 127, 255);
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
   font-family: "Merriweather", serif;
}

h2,h3,h4 {
    font-family: "Merriweather", serif;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 0px 30px;
    margin: 0;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
}

.columna-derecha {
    color: #fff;
    flex: 1;
    padding: 20px;
    background-color: #eb8282;
}

footer {
    background-color: rgb(193, 127, 255);
    color: #fff;
    padding: 10px;
    text-align: center;
}
/*Aquí va lo del marco teórico*/

.columna-derecha-mar {
    color: #fff;
    padding: 20px;
    background-color: #eb8282;
}

.columna-derecha-mar img{
    width: 150px;
    height: auto;
}

.columna-derecha img{
   max-width: 100%; 
}

/*Aquí va la sección de la galería*/
.galeria {
    display: inline;
}

.galeria img {
    width: 142.5px;
    height: 142.5px;
    margin-right: 20px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 15%;
}

#imagengrande {
    margin-top: 20px;
}

#imagenprincipal {
    max-width: 1280px;
    border-radius: 10px;
    margin-top: 15px;
}